{% extends "app_profile/profile.html" %}
{% load static %}
{% load cache %}

{% block static %}
<script src="{% static 'app_analysator/js/form_js.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'app_analysator/table.css' %}">
{% endblock %}

{% block upload_data %}
<div class="content">
    <!-- Вывод ошибок формы -->

    <table class="sales-table">
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in page_obj %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    <h4 class="dataset-info">columns <a style="color:red;">{{ num_cols }}</a>, rows <a style="color:red;">{{ num_rows }}</a> in your data! Please follow the <a href="{% url 'analysator:make_graph' %}">link</a> to select the chart and analysis</h4>
</div>
{% endblock %}
