.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow: hidden;
    flex-grow: 1; /* Контейнер расширяется на всю доступную ширину */
}

/* Таблица с продажами */
.sales-table {
    width: 100%; /* Таблица занимает всю ширину контента */
    max-height: 80vh; /* Ограничиваем максимальную высоту таблицы */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    border-collapse: collapse;
    display: block; /* Делаем таблицу блочной, чтобы она могла прокручиваться */
}

.sales-table th, .sales-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.sales-table th {
    background-color: #f4f4f4;
}

.sales-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.sales-table tbody tr:hover {
    background-color: #e2e2e2;
}
th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0; /* Прилипает к верхней части контейнера */
    z-index: 1; /* Заголовки будут поверх содержимого при прокрутке */
  }
  
  .dataset-info {
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Жирный текст */
    color: #020303; /* Голубой цвет текста */
    text-align: center; /* Центрирование текста */
    margin: 20px 0; /* Отступы сверху и снизу */
    padding: 10px; /* Внутренние отступы */
    background-color: #ffffff; /* Светлый фон для выделения */
   
    border-radius: 8px; /* Скруглённые углы */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Тень для объёма */
}

  /* На доработке

  /* Фиксация первой колонки */
.sales-table tbody td:first-child, /* Первая колонка */
.sales-table thead th:first-child { /* Заголовок первой колонки */
    position: sticky;
    left: 0; /* Колонка "прилипает" к левой стороне */
    background-color: #f4f4f4; /* Фон для читаемости */
    z-index: 2; /* Устанавливаем поверх содержимого */
    border-right: 1px solid #ddd; /* Граница справа для отделения */
}

/* Увеличение z-index для заголовка таблицы */
.sales-table thead th {
    z-index: 3; /* Заголовки остаются поверх фиксированной первой колонки */
}

/* paginator */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; /* уменьшил отступ сверху */
}

.step-links {
    display: flex;
    gap: 8px; /* уменьшил промежуток между элементами */
    font-size: 14px; /* уменьшил размер шрифта */
}

.step-links a {
    color: #007bff;
    text-decoration: none;
    padding: 6px 12px; /* уменьшил внутренний отступ */
    border-radius: 4px;
    border: 1px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.step-links a:hover {
    background-color: #007bff;
    color: white;
}

.step-links .current {
    font-weight: bold;
    color: #333;
}

.step-links .current a {
    pointer-events: none;
    color: #333;
}

.step-links a:disabled {
    color: #ccc;
    pointer-events: none;
}

.step-links .first, .step-links .last {
    font-weight: bold;
}



