{% extends "app_profile/profile.html" %}
{% load static %}


{%block static%}
<script src="{% static 'app_analysator/js/form_js.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'app_analysator/upload_files.css' %}">
{% endblock%}


{%block upload_data%}

<div class="content">
    {% if errors %}
       <p>{{errors}}</p>
    {% endif %}
    <img src="{{ chart_url }}" alt="Sales Chart" style="max-width: 100%; height: 100%;">
    <a href="" class="download-link">Download Chart</a>
</div>
{% endblock%}